.aboutMe_section{
  margin-top: 6rem;
}

.aboutMe_div{
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.aboutMe_div p {
  font-size: 2rem;
  margin: 0;
}

.aboutMe_div img{
  width: 100%;
  max-width: 300px;
  height: auto;
}