.skills_section {
  margin-top: 4rem;
}

.skills_div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.7rem 1rem;
  background-color: #F3C6D3;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid #74004C ;
  transition: background-color .2s ease;
}

.skill p {
  color: #74004C;
  font-size: 1.3rem;
  margin: 0;
}

.skill img {
  width: 30px;
  height: 30px;
}

.skill:hover{
  background-color: #D8E8D2;
}