h1,h2,h3,h4,h5,h6{
  font-family: "Rainy Hearts", sans-serif;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}

*{
  font-family: "VT323", monospace;
}
body {
  margin: 0 10rem;
  background-color: #FDF2F0;
}

@font-face {
  font-family: "Rainy Hearts";
  src: url("../fonts/RainyHearts.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

nav a {
  position: relative;
}

li a{
  text-decoration: none;
  padding: 1rem;
  font-size: 1.6rem;
  color:  #B0577A;
}

.logo{
  font-weight: bold; 
}

nav a:hover{
  color: #4F7A52;
}

li a::before{
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #4F7A52;
  transition: all .5s;
}

li a:hover::before{
  width: 100%;
}